@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/inter-variable.ttf");
}

:root {
  // colors
  --white: 0, 0%, 100%;
  --black: 0, 0%, 0%;

  --blue-200: 224, 100%, 95%;
  --blue-400: 220, 100%, 64%;
  --blue-600: 228, 100%, 60%;
  --blue-700: 228, 99%, 58%;
  // typography
  --fs-1: 6rem;
  --fs-2: 4.4rem;
  --fs-3: 3.6rem;
  --fs-4: 3.2rem;
  --fs-5: 1.7rem;
  --fs-5: 1.4rem;

  --fw-r: 400;
  --fw-m: 500;
  --fw-b: 700;

  --ls-1: 0;
  --ls-2: -2px;

  // spacing
  --spacing-100: 0.8rem;
  --spacing-200: 1.6rem;
  --spacing-300: 2.4rem;
  --spacing-400: 3.2rem;
  --spacing-500: 4rem;
  --spacing-600: 4.8rem;
  --spacing-600: 5.6rem;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
// text-presets
@mixin text-preset-1 {
  font-size: var(--fs-1);
  font-weight: var(--fw-r);
  letter-spacing: var(--ls-2);
  line-height: 1.6;
}
@mixin text-preset-2 {
  font-size: var(--fs-2);
  font-weight: var(--fw-r);
  letter-spacing: var(--ls-2);
  line-height: 1.6;
}
@mixin text-preset-3 {
  font-size: var(--fs-3);
  font-weight: var(--fw-r);
  letter-spacing: var(--ls-1);
  line-height: 1.1;
}
@mixin text-preset-4 {
  font-size: var(--fs-4);
  font-weight: var(--fw-r);
  letter-spacing: var(--ls-2);
  line-height: 1.6;
}
@mixin text-preset-5 {
  font-size: var(--fs-5);
  letter-spacing: var(--ls-1);
  line-height: 1.4;
}
@mixin text-preset-6 {
  font-size: var(--fs-6);
  letter-spacing: var(--ls-1);
  line-height: 1.4;
}

@mixin breakpoint($media) {
  @if $media == "tablet" {
    @media (min-width: 25rem) {
      @content;
    }
  } @else if $media == "desktop" {
    @media (min-width: 56.25rem) {
      @content;
    }
  }
}
@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin grid($column: 1fr) {
  display: grid;
  grid-template-columns: $column;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  font: inherit;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.7rem;
  background-color: hsl(var(--blue-700));
  color: hsl(var(--white));
  max-width: 144rem;
  margin: auto;
}
