@use "../../index.scss" as *;

nav {
  position: absolute;
  background-color: hsl(var(--blue-700));
  width: 100%;
  padding: var(--spacing-400);
  right: 0;
  z-index: 1000;
  transform: translateX(100%);
  transition: all 1s ease;

  &.active {
    transform: translateX(0);
  }

  @include breakpoint("tablet") {
    width: 40rem;
    height: 95%;
  }

  .nav-items {
    height: 34rem;
    @include flex(column);
    align-items: center;
    @include text-preset-4;
  }
  .nav-item {
    margin-bottom: var(--spacing-200);
    a {
      cursor: pointer;
    }
  }
}
